./services/.idea/*
.idea
/build/reports/problems/problems-report.html
/.gradle/8.14/checksums/checksums.lock
/.gradle/8.14/checksums/md5-checksums.bin
/.gradle/8.14/checksums/sha1-checksums.bin
/.gradle/8.14/executionHistory/executionHistory.bin
/.gradle/8.14/executionHistory/executionHistory.lock
/.gradle/8.14/fileChanges/last-build.bin
/.gradle/8.14/fileHashes/fileHashes.bin
/.gradle/8.14/fileHashes/fileHashes.lock
/.gradle/8.14/fileHashes/resourceHashesCache.bin
/.gradle/8.14/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/services/build/libs/services-0.0.1-SNAPSHOT.jar
/services/build/tmp/jar/MANIFEST.MF
