server:
  port: 8888

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:../config-repo, file:/config-repo
      allow-override: true
      override-none: false
      override-system-properties: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
